<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Nodejs Mysql</title>
  <!-- NAVIGATION -->
  <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/index.css" />
</head>

<body>
  <!-- navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/usuarios">usuario</a>
      <a class="navbar-brand" href="/tipo_equipos">Tipo equipo</a>
      <a class="navbar-brand" href="/estado_equipos">Estado equipo</a>
      <a class="navbar-brand" href="/marcas">Marcas</a>
      <a class="navbar-brand" href="/inventarios">Inventario</a>
    </div>
  </nav>
</body>

</html>
